@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

html
{
	text-size-adjust:none;
}

body
{
	text-align:center;
	padding:0px;
	margin:0px;
	background:#FFFFFF;
	font:normal 16px "Nunito";
	overflow:hidden;
	width:100%;
	line-height:1.5;
}

table
{
	border-spacing:0;
	padding:0;
	border:1px solid #DBDBDB;
	border-collapse:collapse;
	font:normal 16px "Nunito";
	margin-left:auto; 
	margin-right:auto;
	margin-top:40px;
	box-shadow: 1px 5px 20px -12px rgba(0, 0, 0, 0.25);
}

table tbody td
{
	text-align:left;
}

table thead, table tfoot
{
	text-align:center;
	font:bold 18px "Nunito";
	background:#EEF6FC;
	color:#363636;
	padding:8px 12px;
}

table tbody tr:nth-child(odd)
{
	color:#363636;
	background:#FFFFFF;
}

table tbody tr:nth-child(even)
{
	color:#363636;
	background:#F8F9FA;
}

table thead td, table tbody td, table tfoot td
{
	border:1px solid #DBDBDB;
	padding:8px 12px;
}

a
{
	color:#3276DC;
	text-decoration:none;
}

label
{
	font:bold 16px "Nunito";
	color:#4A4A4A;
	margin:10px;
}

input[type=text], input[type=number]
{
	font:normal 18px "Nunito";
	text-align:center;
	max-width:450px;
	width:100%;
	height: 35px;
	text-transform:uppercase;
	background-color: white;
	border: 1px solid transparent;
	border-color: #DBDBDB;
	border-radius: 4px;
	color: #363636;
	box-shadow: 1px 5px 20px -12px rgba(0, 0, 0, 0.25);
	margin-bottom:32px;
	outline:none;
}


input[type=button], input[type=submit], input[type=reset] 
{
	font: normal 18px "Nunito";
	padding: 7px 16px;
	background : #2D333A;
	color: #FFFFFF;
	border-radius: 4px;
	border: 1px solid transparent;
	cursor:pointer;
}

::placeholder
{
	font:normal 18px "Nunito";
	color:rgba(54, 54, 54, 0.4);
	text-transform:none;
	text-align:left;
	padding-left:10px;
}


select
{
	font:normal 18px "Nunito";
	width:100%;
	max-width:458px;
	height:42px;
	background-color: white;
	border: 1px solid transparent;
	border-color: #DBDBDB;
	border-radius: 4px;
	box-shadow: 1px 5px 20px -12px rgba(0, 0, 0, 0.25);
	margin-bottom:32px;
	color:rgba(54, 54, 54, 0.3);
	text-transform:none;
	text-align:left;
	padding-left:10px;
}

.title_table
{
	background: #2D333A;
	color: #FFFFFF;
	height:120px;
	line-height: 2;
	padding-top:50px;
}

.title
{
	font:bold 32px "Nunito";
}

.subtitle
{
	font:italic 18px "Nunito";
}

.icon
{
	cursor:pointer;
	width:32px;
	filter:drop-shadow(1px 1px 1px rgba(80,80,80,.7));
}

.menu_icon
{
	cursor:pointer;
	width:24px;
	margin:12px;
}

.header
{
	border:0;
	padding:0px;
	margin:0px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:2;
}

.header tr
{
	height:48px;
}

.header td
{
	border:0;
	text-align:center;
	background:#2D333A;
	color:#FFFFFF;
	font:normal 16px "Nunito";
	padding-left:100px;
	padding-right:100px;
}

.header a
{
	color:#FFFFFF;
	margin-left:20px;
	display:inline-block;
}

.container
{
	overflow-y:auto;
	overflow-x:auto;
	height:calc(100vh - 125px);
	width:100%;
	margin-top:48px;
	text-align:center;
}

.footer
{
	height:60px;
	border-spacing:0;
	padding:0px;
	position:fixed;
	border-top:1px solid #DBDBDB;
	bottom:0px;
	left:0px;
	width:100%;
	color:#000000;
	font:italic 14px "Nunito";
}

.company_name
{
	font:bold 32px "Nunito";
	margin-top:32px;
	
}

.scrollable_table
{
	margin-left:auto;
	margin-right:auto;
	width:90%;
	max-width:1000px;
}

.scrollable_table thead
{
	display:block;
	margin:0px;
	padding:0px;
}

.scrollable_table thead tr td
{
	border:0px;
}

.scrollable_table tbody tr td:nth-child(1), tbody tr td:last-child
{
	border-left:0px;
}

.scrollable_table tbody tr:nth-child(1) td
{
	border-bottom:0px;
}

.scrollable_table tbody tr:last-child td
{
	
	border-bottom:0px;
}

.scrollable_table tbody tr td:last-child
{
	border-right:0px;
}

.scrollable_table tbody
{
	display:block;
	max-height:510px;
	overflow:auto;
}

.resultats tbody tr td
{
	height:70px;
}

.resultats tbody tr:hover
{
	background:#D7FAFD;
}

.resultats tfoot div
{
	font:normal 16px "Nunito";
	min-width:130px;
	display:inline-block;
	color:#000000;
}

.smartphone_only
{
	display:none;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px), print  
{
	input[type=text], input[type=number], input[type=button], input[type=submit], input[type=reset], select, table
	{
		width:90%;
	}
	
	.header td
	{
		width:90%;
		padding-left:70px;
		padding-right:70px;
	}
	
	.header td a
	{
		display:none;
		margin:10px;
		font:normal 24px "Nunito";
	}
	
	.resultats tfoot div
	{
		font:normal 12px "Nunito";
		min-width:80px;
	}
	
	.smartphone_only
	{
		display:block;
	}
	
	.smartphone_hide
	{
		display:none;
	}
	
	.responsive_table table, .responsive_table tbody, .responsive_table tbody td, .responsive_table tbody tr
	{ 
		display: block;
	}
	
	.responsive_table
	{ 
		border:1px solid #DBDBDB;
		border-top:0px;
		border-collapse:separate;
	}
	
	.responsive_table thead
	{
		border-top:1px solid #DBDBDB;
	}
	
	.responsive_table tfoot tr td
	{
		border:0;
		border-top:1px solid #DBDBDB;
	}
	
	.responsive_table tbody tr
	{
		border-top:1px solid #DBDBDB;
	}
	
	
	.responsive_table tbody td 
	{ 
		border:0;
		position: relative;
		padding:3px;
		padding-left: 150px;
		text-align:left !important;
		height:auto !important;
		width:calc(100% - 154px) !important;
		overflow-wrap:anywhere;
	}
	
	.responsive_table tbody td:empty
	{
		display:none;
	}
	
	.responsive_table tbody td:before
	{ 
		position: absolute;
		padding-top: 1px;
		left: 6px;
		width: 150px; 
		padding-right: 10px;
	}
	
	.representants tbody td {padding-left: 5px !important;width: 90% !important; }
	.representants tbody td:nth-of-type(2) {font-weight:bold; }
	
	.bodacc tbody td:nth-of-type(1):before {content: "Date"; }
	.bodacc tbody td:nth-of-type(2):before {content: "Greffe"; }
	.bodacc tbody td:nth-of-type(3):before {content: "Catégorie"; }
	.bodacc tbody td:nth-of-type(4):before {content: "Lien"; }
	
	.actes tbody td:nth-of-type(1):before {content: "Date"; }
	.actes tbody td:nth-of-type(2):before {content: "Dépôt"; }
	.actes tbody td:nth-of-type(3):before {content: "Description"; }
	.actes tbody td:nth-of-type(4):before {content: "Document"; }
	
	.etablissements tbody td:nth-of-type(1):before { content: "Etablissement"; }
	.etablissements tbody td:nth-of-type(2):before { content: "Code APE"; }
	.etablissements tbody td:nth-of-type(3):before { content: "Création"; }
	.etablissements tbody td:nth-of-type(4):before { content: "Fermeture"; }
	.etablissements tbody td:nth-of-type(5):before { content: "Adresse"; }
	
	.accords_entreprise tbody td:nth-of-type(1):before { content: "Etablissement"; }
	.accords_entreprise tbody td:nth-of-type(2):before { content: "Signature"; }
	.accords_entreprise tbody td:nth-of-type(3):before { content: "Diffusion"; }
	.accords_entreprise tbody td:nth-of-type(4):before { content: "Titre"; }
	.accords_entreprise tbody td:nth-of-type(5):before { content: "Thèmes"; }
	.accords_entreprise tbody td:nth-of-type(6):before { content: "Document"; }
	
	.resultats tbody td:nth-of-type(1):before { content: "Dénomination"; }
	.resultats tbody td:nth-of-type(2):before { content: "SIREN"; }
	.resultats tbody td:nth-of-type(3):before { content: "Siège"; }
	.resultats tbody td:nth-of-type(4):before { content: "Activité"; }
	.resultats tbody td:nth-of-type(5):before { content: "Dirigeant"; }
	
	.marques tbody td:nth-of-type(1):before { content: "Numéro"; }
	.marques tbody td:nth-of-type(2):before { content: "Nom"; }
	.marques tbody td:nth-of-type(3):before { content: "Classes"; }
	.marques tbody td:nth-of-type(4):before { content: "Dépôt"; }
	.marques tbody td:nth-of-type(5):before { content: "Expiration"; }
	.marques tbody td:nth-of-type(6):before { content: "Document"; }
	
	.brevets tbody td:nth-of-type(1):before { content: "Numéro"; }
	.brevets tbody td:nth-of-type(2):before { content: "Nom"; }
	.brevets tbody td:nth-of-type(3):before { content: "Dépôt"; }
	.brevets tbody td:nth-of-type(4):before { content: "Expiration"; }
	.brevets tbody td:nth-of-type(5):before { content: "Document"; }
	
	.designs tbody td:nth-of-type(1):before { content: "Numéro"; }
	.designs tbody td:nth-of-type(2):before { content: "Nom / Image"; }
	.designs tbody td:nth-of-type(3):before { content: "Dépôt"; }
	.designs tbody td:nth-of-type(4):before { content: "Expiration"; }
	.designs tbody td:nth-of-type(5):before { content: "Document"; }
}

@keyframes slide-in-blurred-bottom 
{
  0% 
  {
		transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
		transform-origin: 50% 100%;
		filter: blur(40px);
		opacity: 0;
  }
  100% 
  {
		transform: translateY(0) scaleY(1) scaleX(1);
		transform-origin: 50% 50%;
		filter: blur(0);
		opacity: 1;
  }
}

@media print 
{
	body
	{
		background:transparent;
		overflow:auto;
		color-adjust:exact;
		-webkit-print-color-adjust:exact;
	}
	
	.header
	{
		display:none;
	}
	
	.container
	{
		overflow:hidden;
		height:auto;
	}
	
	.footer
	{
		display:none;
	}
	
	table
	{
		break-inside: avoid;
	}
	
	table tr
	{
		break-inside: avoid;
	}
	
	table thead, table tfoot
	{
		border:1px solid #DBDBDB;
		background:#EEF6FC;
	}
	
	.print_hide
	{
		display:none;
		visibility:hidden;
		height:0px;
	}
	
	.scrollable_table tbody
	{
		max-height:100%;
	}
}
